@import "../../styles/constants.scss";

.blocImgTxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16vh 0 19vh;
  font-weight: 500;
  @media screen and (max-width: $smallMax) {
    margin: 12vh 0 14vh;
    flex-direction: column;
    justify-content: center;
  }
}

.imgContainer {
  width: $column * 5 + $goutiere * 4;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mediumMax) {
    //medium
    width: $column * 3 + $goutiere * 4;
    max-width: 100%;
    margin-right: $goutiere;
  }
  @media screen and (max-width: $smallMax) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  @media screen and (max-width: $baseMax) {
    margin-bottom: 50px;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

.blocImgTxt {
  .blop {
    width: 180px;
    top: 90px;
    right: 20px;
    position: absolute;

    @media screen and (max-width: $smallMax) {
      width: 170px;
      top: 30px;
      right: 2px;
    }
  }
  .bigCircle {
    position: absolute;
    bottom: 240px;
    right: -10px;
    background-color: $orange300;
    height: 229px;
    width: 229px;
    border-radius: 50%;
    z-index: -1;

    @media screen and (max-width: $smallMax) {
      height: 150px;
      width: 150px;
      bottom: 0px;
      right: -42px;
    }
    @media screen and (max-width: $baseMax) {
      bottom: 30px;
      right: -15px;
    }
  }
  .smallCircle {
    position: absolute;
    right: 45px;
    bottom: 110px;

    background-color: $orange500;
    width: 57px;
    height: 57px;
    border-radius: 50%;

    @media screen and (max-width: $smallMax) {
      width: 36px;
      height: 36px;
      right: 105px;
      bottom: 0px;
    }
    @media screen and (max-width: $baseMax) {
      right: 125px;
      bottom: 0px;
    }
  }
  svg {
    position: absolute;
    left: -22px;
    top: 133px;
    z-index: -1;
    @media screen and (max-width: $smallMax) {
      height: 295px;
      left: -17px;
      top: -15px;
    }
    @media screen and (max-width: $baseMax) {
      height: 295px;
      left: -17px;
      top: -15px;
    }
  }
  svg circle {
    fill: $orange300;
  }
}

.txtContainer {
  width: $column * 4 + $goutiere * 3;
  @media screen and (max-width: $mediumMax) {
    //medium
    width: $column * 4 + $goutiere * 3;
  }
  @media screen and (max-width: $smallMax) {
    //medium
    text-align: center;
    width: $column * 4 + $goutiere * 3;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
  }
}
