@import "../../styles/constants.scss";

.blocImgTxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19vh 0 25vh;
  font-weight: 500;
  @media screen and (max-width: $smallMax) {
    margin: 10vh 0;
    flex-direction: column;
    justify-content: center;
  }
}

.imgContainer {
  width: $column * 5 + $goutiere * 4;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mediumMax) {
    //medium
    width: $column * 3 + $goutiere * 4;
    max-width: 100%;
    margin-right: $goutiere;
  }
  @media screen and (max-width: $smallMax) {
    max-width: 100%;

    margin-right: 0;
    margin-bottom: 50px;
  }
  @media screen and (max-width: $baseMax) {
    margin-bottom: 80px;
    text-align: center;
    img {
      width: 90%;
    }
  }
}

.blocImgTxt {
  .blop {
    width: 170px;
    top: -55px;
    right: 5px;
    position: absolute;

    @media screen and (max-width: $smallMax) {
      width: 140px;
      top: -45px;
    }
  }
  .bigCircle {
    position: absolute;
    bottom: -50px;
    right: -60px;
    background-color: $orange300;
    height: 229px;
    width: 229px;
    border-radius: 50%;
    z-index: -1;

    @media screen and (max-width: $smallMax) {
      height: 150px;
      width: 150px;
      bottom: -40px;
      right: -42px;
    }
    @media screen and (max-width: $baseMax) {
      bottom: -30px;
      right: -15px;
    }
  }
  .smallCircle {
    position: absolute;
    right: 155px;
    bottom: -70px;
    background-color: $orange500;
    width: 57px;
    height: 57px;
    border-radius: 50%;

    @media screen and (max-width: $smallMax) {
      width: 36px;
      height: 36px;
      right: 105px;
      bottom: -42px;
    }
    @media screen and (max-width: $baseMax) {
      right: 125px;
      bottom: -40px;
    }
  }
  svg {
    position: absolute;
    left: -58px;
    top: -80px;
    z-index: -1;
    @media screen and (max-width: $smallMax) {
      height: 240px;
      left: -62px;
      top: -50px;
    }
    @media screen and (max-width: $baseMax) {
      height: 240px;
      left: -32px;
      top: -50px;
    }
  }
  svg circle {
    fill: $orange300;
  }
}

.txtContainer {
  width: $column * 4 + $goutiere * 3;
  @media screen and (max-width: $mediumMax) {
    //medium
    width: $column * 4 + $goutiere * 3;
  }
  @media screen and (max-width: $smallMax) {
    //medium
    text-align: center;
    width: $column * 4 + $goutiere * 3;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
  }
}
