@import "../../styles/constants.scss";
.wrapper {
  @media screen and (max-width: $baseMax) {
    width: 100%;
    text-align: center;
  }
}
.formMailchimp {
  display: flex;
  &.center {
    justify-content: center;
  }
  @media screen and (max-width: $mediumMax) {
    justify-content: center;
  }
  @media screen and (max-width: $smallMax) {
    flex-direction: row;
    // align-items: center;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.formMailchimp__input {
  width: 4 * $column + $goutiere * 3;
  margin-right: $goutiere / 2;
  padding: 0 1.5rem;
  font-weight: 600;
  box-shadow: none;
  box-shadow: 0px 10px 20px rgba(112, 49, 255, 0.5);

  border-radius: $borderRadius;
  border: 2px solid $primaryLighterColor;
  @media screen and (max-width: $smallMax) {
    height: auto;
    width: 4 * $column + $goutiere * 3;
    padding: 0.8rem 1.1rem 0.92rem;
    margin-bottom: 24px;
    margin-right: $goutiere;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
    margin-right: 0;
  }
}

.message {
  color: $black;
  display: inline-block;
  padding: 8px 24px;
  border-radius: 16px;
}

.alreadySubscribe {
  background: #fed6b2;
  border: 2px solid #fc9331;
}

.error {
  background: #fdc4c4;
  border: 2px solid #f85151;
}

.success {
  background: #baf6d2;
  border: 2px solid #34df78;
}
