@import "../../styles/constants.scss";

.formMailchimp {
  display: flex;
  &.center {
    justify-content: center;
  }
}

.formMailchimp__input {
  width: 4 * $column + $goutiere * 3;
  margin-right: $goutiere / 2;
  padding: 0 1.5rem;
  font-weight: 600;
  box-shadow: none;
  border-radius: $borderRadius;
  border: 2px solid $primaryLighterColor;
}
