@import "../../styles/constants.scss";

.button {
  padding: 0.8rem 1.1rem 0.92rem;
  background: $primaryColor;
  border: 2px solid $primaryLighterColor;
  border-radius: $borderRadius;
  color: $white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: -2px 2px 4px rgba(112, 49, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: -2px 2px 4px rgba(112, 49, 255, 0.5);
  }
}
