@import "../../styles/constants.scss";

.blocPhone {
  background-color: $purple200;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.reverse {
    padding-bottom: 15vh;
    .img {
      order: 1;
    }
    .containerHeader {
      order: 2;
    }
  }
}

.img {
  transform: translateX(-17px);
  width: $column * 4 + $goutiere * 3;
}
