@import "../../styles/constants.scss";

.hero {
  position: relative;
  min-height: 100vh;
  background: $gradient;
  color: white;
  overflow: hidden;
}

.container {
  padding: 17vh 0;
}

.title {
  width: 70%;
  margin-bottom: 60px;
  font-size: 4.45em;
}

.img {
  position: absolute;
  right: 0;
  bottom: -0;
  height: 95vh;
  width: auto;
}
