@import "./constants.scss";

.title2 {
  color: $black;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  @media screen and (max-width: $smallMax) {
    font-size: 32px;
    line-height: 40px;
  }
}

.title2--margin {
  margin: 80px 0 55px;

  @media screen and (max-width: $smallMax) {
    margin: 45px 0 40px;
  }
}

.title3 {
  color: $black;

  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  @media screen and (max-width: $smallMax) {
    //medium
    font-size: 40px;
    line-height: 54px;
  }
}

.title4 {
  color: $black;

  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
  @media screen and (max-width: $smallMax) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: center;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
  }
}

.title4--margin {
  margin: 38px 0 15px;
  @media screen and (max-width: $smallMax) {
    text-align: left;
  }
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $grey800;
  @media screen and (max-width: $smallMax) {
    text-align: center;
  }
}

.sectionCookie {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 1088px;
  margin: 0 auto;
  max-width: 90vw;

  @media screen and (min-width: $mediumMax) {
    //up medium
    width: 1088px;
  }

  @media screen and (max-width: $mediumMax) {
    //medium
    width: 864px;
  }

  @media screen and (max-width: $smallMax) {
    //small
    width: 640px;
  }

  @media screen and (max-width: $baseMax) {
    //base
    width: 414px;
  }
}

.description {
  transition: opacity 0.5s ease-in-out, transform 0.3s 0s ease-in-out !important;
}

.sal-animate {
  opacity: 1;
}
