@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-MediumItalic.eot");
  src: local("Gellix Medium Italic"), local("Gellix-MediumItalic"),
    url("../fonts/Gellix/Gellix-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-MediumItalic.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-MediumItalic.woff") format("woff"),
    url("../fonts/Gellix/Gellix-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-BoldItalic.eot");
  src: local("Gellix Bold Italic"), local("Gellix-BoldItalic"),
    url("../fonts/Gellix/Gellix-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-BoldItalic.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-BoldItalic.woff") format("woff"),
    url("../fonts/Gellix/Gellix-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-SemiBold.eot");
  src: local("Gellix SemiBold"), local("Gellix-SemiBold"),
    url("../fonts/Gellix/Gellix-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-SemiBold.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-SemiBold.woff") format("woff"),
    url("../fonts/Gellix/Gellix-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-RegularItalic.eot");
  src: local("Gellix Regular Italic"), local("Gellix-RegularItalic"),
    url("../fonts/Gellix/Gellix-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-RegularItalic.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-RegularItalic.woff") format("woff"),
    url("../fonts/Gellix/Gellix-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-Bold.eot");
  src: local("Gellix Bold"), local("Gellix-Bold"),
    url("../fonts/Gellix/Gellix-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-Bold.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-Bold.woff") format("woff"),
    url("../fonts/Gellix/Gellix-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-Medium.eot");
  src: local("Gellix Medium"), local("Gellix-Medium"),
    url("../fonts/Gellix/Gellix-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-Medium.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-Medium.woff") format("woff"),
    url("../fonts/Gellix/Gellix-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-SemiBoldItalic.eot");
  src: local("Gellix SemiBold Italic"), local("Gellix-SemiBoldItalic"),
    url("../fonts/Gellix/Gellix-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Gellix/Gellix-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gellix";
  src: url("../fonts/Gellix/Gellix-Regular.eot");
  src: local("Gellix Regular"), local("Gellix-Regular"),
    url("../fonts/Gellix/Gellix-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gellix/Gellix-Regular.woff2") format("woff2"),
    url("../fonts/Gellix/Gellix-Regular.woff") format("woff"),
    url("../fonts/Gellix/Gellix-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
