.social {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  margin-left: 20px;
}

.img {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  box-shadow: -2px 2px 4px rgba(112, 49, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: -2px 2px 4px rgba(112, 49, 255, 0.5);
  }
}

.name {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
