@import "../../styles/constants.scss";

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $column * 9 + $goutiere * 8;
  margin-bottom: 15vh;

  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-of-type(2n) {
    align-self: flex-start;
  }
  &:nth-of-type(2n) {
    align-self: flex-end;
    .imgContainer {
      order: 2;
    }
    .txtContainer {
      order: 1;
    }
  }
  @media screen and (max-width: $mediumMax) {
    width: 100%;
    align-items: flex-start;
  }
  @media screen and (max-width: $smallMax) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    &:nth-of-type(2n) {
      align-self: center;
      .imgContainer {
        order: 1;
      }
      .txtContainer {
        order: 2;
      }
    }
    &:nth-of-type(2n + 1) {
      align-self: center;
    }
  }
}

.imgContainer {
  width: $column * 4 + $goutiere * 3;
  img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mediumMax) {
    width: $column * 3 + $goutiere * 4;
    margin-right: $goutiere;
  }
  @media screen and (max-width: $smallMax) {
    width: $column * 3 + $goutiere * 3;
    margin-bottom: 40px;
  }
  @media screen and (max-width: $baseMax) {
    margin: 0 auto 30px;
    width: 95%;
    margin-bottom: 30px;
  }
}

.txtContainer {
  padding-top: 20px;
  width: $column * 4 + $goutiere * 3;
  @media screen and (max-width: $mediumMax) {
    width: $column * 4 + $goutiere * 4;
  }
  @media screen and (max-width: $smallMax) {
    width: $column * 4 + $goutiere * 3;
    margin-bottom: 40px;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.title {
  @media screen and (max-width: $smallMax) {
    text-align: left;
  }
}
