@import "../../styles/constants.scss";

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $column * 9 + $goutiere * 8;
  margin-bottom: 22vh;

  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-of-type(2n) {
    align-self: flex-start;
  }
  &:nth-of-type(2n) {
    align-self: flex-end;
    .imgContainer {
      order: 2;
    }
    .txtContainer {
      order: 1;
    }
  }
  @media screen and (max-width: $mediumMax) {
    width: 100%;
    align-items: flex-start;
  }
  @media screen and (max-width: $smallMax) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
    &:nth-of-type(2n) {
      align-self: center;
      .imgContainer {
        order: 1;
      }
      .txtContainer {
        order: 2;
      }
    }
    &:nth-of-type(2n + 1) {
      align-self: center;
    }
    &:nth-of-type(3n + 1) {
      .imgContainer {
        align-self: center;
      }
    }
    &:nth-of-type(3n + 2) {
      .imgContainer {
        align-self: flex-start;
      }
    }
    &:nth-of-type(3n) {
      .imgContainer {
        align-self: flex-end;
      }
    }
  }
}

.imgContainer {
  width: $column * 4 + $goutiere * 3;
  position: relative;
  img {
    z-index: 2;
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: $mediumMax) {
    width: $column * 3 + $goutiere * 4;
    margin-right: $goutiere;
  }
  @media screen and (max-width: $smallMax) {
    width: $column * 3 + $goutiere * 3;
    margin: 0 0 40px;
  }
  @media screen and (max-width: $baseMax) {
    margin: 0 0 30px;
    width: 95%;
    margin-bottom: 30px;
  }
}

.txtContainer {
  padding-top: 20px;
  width: $column * 4 + $goutiere * 3;
  @media screen and (max-width: $mediumMax) {
    width: $column * 4 + $goutiere * 4;
  }
  @media screen and (max-width: $smallMax) {
    width: $column * 4 + $goutiere * 3;
    margin-bottom: 40px;
  }
  @media screen and (max-width: $baseMax) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.title {
  @media screen and (max-width: $smallMax) {
    text-align: left;
  }
}

//deco
.bigCircle {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: -1;
}
.smallCircle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.orange {
  .bigCircle {
    right: -38px;
    top: -51px;
    background-color: $orange300;
    @media screen and (max-width: $baseMax) {
      right: -19px;
      top: -41px;
    }
  }
  .smallCircle {
    left: 65px;
    top: -51px;
    background-color: $orange500;
    @media screen and (max-width: $baseMax) {
      left: 55px;
      top: -41px;
    }
  }
  svg {
    position: absolute;
    left: -35px;
    bottom: -25px;
    z-index: -1;
    @media screen and (max-width: $baseMax) {
      left: -23px;
      bottom: -15px;
    }
  }
  svg circle {
    fill: $orange300;
  }
}
.blue {
  .bigCircle {
    left: -40px;
    top: -51px;
    width: 114px;
    height: 114px;
    background-color: $lightBlue300;
    @media screen and (max-width: $baseMax) {
      left: -15px;
      top: -41px;
    }
  }
  .smallCircle {
    left: 85px;
    top: -75px;
    background-color: $lightBlue500;
  }
  svg {
    position: absolute;
    right: -35px;
    bottom: -25px;
    z-index: -1;
    @media screen and (max-width: $baseMax) {
      right: -10px;
    }
  }
  svg circle {
    fill: $lightBlue300;
  }
}
.green {
  .bigCircle {
    left: -62px;
    bottom: -44px;
    background-color: $green300;
    @media screen and (max-width: $baseMax) {
      left: -25px;
    }
  }
  .smallCircle {
    left: -43px;
    top: 75px;
    background-color: $green500;
    @media screen and (max-width: $baseMax) {
      left: -34px;
    }
  }
  svg {
    position: absolute;
    right: -35px;
    top: -35px;
    z-index: -1;
    @media screen and (max-width: $baseMax) {
      right: -16px;
    }
  }
  svg circle {
    fill: $green300;
  }
}
