@import "../../styles/constants.scss";

.sectionHeader {
  padding-top: 17vh;
  &.big {
    width: $column * 8 + $goutiere * 7;
    margin: 0 auto;
    @media screen and (max-width: $mediumMax) {
      width: 100%;
    }
  }
  &.small {
    width: $column * 6 + $goutiere * 5;
    margin: 0 auto;
    @media screen and (max-width: $mediumMax) {
      width: 100%;
    }
  }
  &.noPadding {
    padding-top: 0;

    .description {
      margin: 0 auto;
      width: $column * 6 + $goutiere * 5;
      @media screen and (max-width: $mediumMax) {
        width: 100%;
      }
    }
  }

  &.padding {
    padding-top: 17vh;
  }

  @media screen and (max-width: $smallMax) {
    padding: 10vh 0 0;
    &.padding {
      padding-top: 10vh;
    }
    &.noPadding {
      padding-top: 0;
    }
  }
}

.title {
  text-align: center;
}

.titleHighlight {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.description {
  text-align: center;
  color: $grey800;
  margin-bottom: 40px;
}
