@import "../../styles/constants.scss";

.footer {
}

.wrapper {
  border-top: solid 2px #e4e3e8;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 640px) {
    border-top: none;
    padding: 100px 0 40px;
  }
}

.footerLogo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  @media screen and (max-width: 640px) {
    top: 20px;
    transform: translateY(0);
  }
}

.footerSocials {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  // line-height: 32px;
  @media screen and (max-width: $mediumMax) {
    span {
      display: none;
    }
  }
  @media screen and (max-width: 640px) {
    top: 20px;
    transform: translateY(10px);
  }
}

.linksContainer {
}

.link {
  color: #948fa3;
  text-decoration: none;
  margin-right: 32px;

  &:last-of-type {
    margin-right: 0;
  }
  @media screen and (max-width: $mediumMax) {
    margin-right: 18px;
  }
}
